.videoUploaderLabel {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
  padding: 0 0 0 6px;
}

.videoUploadArea {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  /* border: 1px dashed rgba(0, 0, 0, 0.23); */
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 2.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.videoUploadArea p {
  margin: 0;
  text-align: center;
}

.videoUploadArea:hover p {
  text-decoration: underline;
}

.videoRemoveButton {
  width: 30px;
  height: 30px;
  z-index: 1;
  border-radius: 340px;
  color: black;
  position: absolute;
  top: -10px;
  right: -9px;
  background-color: white;
  /* border: 2px solid var(--gradient15); */
  outline: none !important;
  box-shadow: none !important;
}

.displayVideos div {
  width: fit-content;
}

.displayVideos video {
  width: fit-content;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 991px) {
  .videoUploaderLabel {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .videoUploaderLabel {
    font-size: 13px;
  }
}
