.customTable {
  overflow-x: auto;
  position: relative;
}

.customTable table {
  border-collapse: separate !important;
  border-spacing: 0 10px !important;
  white-space: nowrap !important;
}

.customTable table {
  font-size: 14px;
  width: 100%;
}

.customTable table thead tr {
  /* background: rgba(26, 140, 26, 0.2); */
  background: transparent
}

.customTable table thead tr th:last-child {
  text-align: center;
}

.customTable tr td:first-child {
  border-left: 1.5px solid rgba(57, 174, 148, 0.1) !important;
  border-radius: 10px 0 0 10px !important;

}
.admin-layout .customTable tr td:first-child{
  border-radius: 50px 0 0 50px !important;
}
.admin-layout .customTable tr td:last-child {
  border-radius: 0 50px 50px 0 !important;
}
.customTable tr td:last-child {
  text-align: center;
  padding: 10px 35px !important;
  border-radius: 0 10px 10px 0 !important;
}

.customTable th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.customTable th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.customTable td {
  font-size: 14px;
  vertical-align: middle;
  color: var(--blackColor);
  border-left: 0 !important;
  border-right: 0 !important;
  border: 1.5px solid rgba(102, 102, 102, 0.10);
  background: #FFF;
  padding: 10px 16px !important;
}

.customTable table th,
.customTable table td {
  padding: 0.8rem 1rem;
  vertical-align: middle;
  white-space: nowrap;
}

.customTable table th {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
}

.customTable .thumbnail {
  width: 25px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 99px;
  margin-right: 0.5rem;
}

.tableDropdownMenu {
  padding: 0;
  border-radius: 0.3rem;
  min-width: auto;
  text-align: left;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}

.dropdownMenu {
  padding: 0;
  border-radius: 12px;
  min-width: 168px;
  padding: 10px;
  text-align: left;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}

.tableAction {
  font-size: 15px;
  font-weight: 600;
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #333;
  background: #fff0;
  border: none;
  outline: none;
  width: 100%;
  transition: 0.3s linear;
}

.tableAction {
  text-decoration: none;
  outline: none;
  transition: 0.3s linear;
}

/* .tableAction:hover {
  background: var(--primaryColor);
  color: #fff !important;
} */

.tableActionIcon {
  font-size: 15px;
  margin-right: 0.5rem;
  width: 1rem;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* Table Action Tooltip */
.tooltip-toggle {
  cursor: pointer;
  position: relative;
  transition-delay: 0.5s;
  /* Tooltip text container */
  /* Tooltip arrow */
  /* Setting up the transition */
  /* Triggering the transition */
}

.tooltip-toggle::before {
  position: absolute;
  top: -39px;
  left: -10px;
  background-color: #2b222a;
  border-radius: 5px;
  color: #fff;
  content: attr(aria-label);
  padding: 6px;
  text-transform: none;
  width: fit-content;
}

.tooltip-toggle::after {
  position: absolute;
  top: -6px;
  left: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2b222a;
  content: " ";
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  width: 0;
}

.tooltip-toggle::before,
.tooltip-toggle::after {
  color: #efefef;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}

.tooltip-toggle:focus::before,
.tooltip-toggle:focus::after,
.tooltip-toggle:hover::before,
.tooltip-toggle:hover::after {
  opacity: 1;
  transition-delay: 0.5s;
}


/**********
User Table Styling ***************/

.user-layout .customTable table th {
  font-weight: 500;
}

.user-layout .customTable table thead tr {
  background-color: transparent;
}

.user-layout .customTable tbody td {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  padding: 0.8rem 1.2rem !important;
  background-color: transparent;
  color: #707070;
}

/* Striped rows */
.user-layout .customTable tbody tr:nth-child(odd) td {
  border: 1px solid transparent !important;
  background: rgba(153, 153, 153, 0.10);
  
}
.admin-layout .customTable tbody tr:nth-child(odd) td {
  border: 1px solid transparent !important;
  background: rgba(153, 153, 153, 0.10);
  
}
.admin-layout .customTable tbody td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left: 1px solid #E7E7E7 !important;
  padding-left: 1.5rem !important;
}

.admin-layout .customTable tbody td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right: 1px solid #E7E7E7 !important;
  padding-right: 1.5rem !important;
}
.admin-layout .customTable tbody td {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  padding: 0rem 1.2rem !important;
  background-color: transparent;
  color: #707070;
}

.user-layout .customTable tbody tr:nth-child(even) td {
 background: #FFF;
}

.user-layout .customTable tbody td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left: 1px solid #E7E7E7 !important;
  padding-left: 1.5rem !important;
}

.user-layout .customTable tbody td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right: 1px solid #E7E7E7 !important;
  padding-right: 1.5rem !important;
}

/***** Data Table Drop Down *****/
.user-layout .customTable .dropdown-toggle {
  font-size: 26px;
  padding: 2px 10px;
  background: transparent;
  border: none;
  color: #2A4A5D;
  line-height: 0;
}

.user-layout .customTable .dropdown-toggle:after {
  display: none;
}

.user-layout .customTable .dropdown-menu {
  min-width: 7.5rem;
  border: 2px solid var(--tableBorderClr);
  background: #E3E3E3;
  box-shadow: 0 0 10px 0px rgb(0, 0, 0, .3);
  border-radius: 7px 7px 7px 7px;
  padding: 0px 0;
  /* transform:translate3d(15px, 30px, 0px) !important */
}

.user-layout .customTable .dropdown a.dropdown-item {
  color: var(--bs-black);
  padding: 8px 15px 8px 15px;
  margin: 0;
  width: auto;
  border-radius: 0px;
  border-bottom: 1px solid #3333331d;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.user-layout .customTable .dropdown a.dropdown-item:last-child {
  border-radius: 7px;
}

.user-layout .customTable .dropdown a.dropdown-item:first-child {
  border-radius: 7px;
}

.user-layout .customTable .dropdown a.dropdown-item .svg-inline--fa {
  font-size: 15px;
  color: var(--bs-black);
  vertical-align: middle;
  margin-right: 10px;
}

.user-layout .customTable .dropdown .dropdown-menu a.dropdown-item:not(:last-child) {
  border-bottom: 1px solid rgba(215, 215, 215, 0.18)
}

.user-layout .customTable .dropdown a.dropdown-item:hover,
.user-layout .customTable .dropdown a.dropdown-item:hover .svg-inline--fa,
.user-layout .customTable .dropdown a.dropdown-item:focus,
.user-layout .customTable .dropdown a.dropdown-item:focus .svg-inline--fa {
  color: #1A8C1A;
  background-color: #DFDFDF;
}

.user-layout .customTable::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

/* Track */
.user-layout .customTable::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #c5c5c5;
  border-radius: 5px;
  background-color: #c8c8c8;
}

/* Handle */
.user-layout .customTable::-webkit-scrollbar-thumb {
  background: #838383;
  border-radius: 0px;
}

/* Handle on hover */
.user-layout .customTable::-webkit-scrollbar-thumb:hover {
  background: #838383;
}

@media screen and (max-width:1199px) {

  .user-layout .customTable thead th,
  .user-layout .customTable tbody td {
    font-size: 14px;
  }

  .user-layout .customTable tbody td {
    padding: 0.8rem 0.5rem !important;
  }

  .user-layout .customTable thead th {
    padding-left: 0.5rem;
  }

  .user-layout .customTable tbody td:first-child {
    padding-left: 1rem !important;
  }

  .user-layout .customTable tbody td:last-child {
    padding-right: 1rem !important;
  }



}