.slimSelect {
  padding: 8px 28px 8px 12px;
}
.slimSelect + .chevron-icon {
  top: 10px !important;
}
.greenbtn {
  color: #1a8c1a;
}
.mark_all_btn {
  color: #15355E;
  font-weight: 700;
  background: transparent;
  border: none;
  transition: 3s ease-in-out;
  &:hover{
    text-decoration: underline;
    transition: 3s ease-in-out;
  }
}