.meetBtns {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    & button{
        border: none;
        background: transparent;
        & svg{
            width: 50px;
            height: auto;
        }
    }
}

@media screen and (max-width: 575.5px) {
    .meetBtns{
        bottom: 10px;
    }
    .meetBtns button svg{
        width: 45px;
    }
}