.select-container {
  position: relative;
  display: inline-block;
}

.tabel-select + .chevron-icon {
  right: 0px;
  left: 90%;
  top: 4px;
}

.admin-layout .tabel-select {
  background-color: unset;
  appearance: none !important;
  border: none;
  padding: 0px 40px 0px 0px;
  box-shadow: none;
}

.status1,
.status1 + .chevron-icon {
  color: #00B612 !important;
}

.status0,
.status0 + .chevron-icon {
  color: #D10000 !important;
}

.tabel-select:focus-visible {
  outline: none;
}

/* 
.selectInput {
  width: 100%;
  padding-right: 30px;
} */

/* .chevron-icon {
  position: absolute;
  right: 10px;
  top: 16px;
  color: #878787;
  pointer-events: none;
} */

.selectInput {
  /* appearance: none !important; */
}

select,
.form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2315355E' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  font-size: 15px;
  background: transparent;
  color: #333;
  font-weight: 400;
  transition: all .6s ease 0s;
  padding: 15px 30px 15px 20px;
  line-height: 1.1;
  width: 100%;
  outline: none;
  box-shadow: 0 0 5px #0000000d;
  height: 50px;
  border: 1px solid #cbcbcb;
  border-radius: 50px;
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right .8rem center;
  background-size: 19px 15px;
}

.form-select option,
select option {
  color: var(--bs-black);
  padding: 10px 5px;
  background-color: transparent;
}

.form-select:focus {
  outline-offset: -2px;
  -webkit-appearance: none;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  outline: none;
  border: 1px solid #15355E;
  color: var(--bs-black);
  background-color: transparent;
}

.form-select:focus,
select:focus {
  color: var(--bs-black)
}