.add-contact .remove-btn{
  margin-bottom: -20px;
  position: relative;
  z-index: 1;
}
.add-contact .mainInput{
  padding: 10px 10px;
}
.add-contact .inputWrapper {
  margin-bottom: 0.6rem;
}
.add-btn-secondary{
  padding: 0;
  background-color: transparent;
  border: none;
  color:#1819FF;
  padding: 5px;
}
.add-btn-secondary:hover,
.add-btn-secondary:hover svg path{
  color: #1a8c1a;
}
