.dashboardBody {
  background: #f5f5f5;
  min-height: 100vh;
  margin-left: 310px;
  transition: ease-in-out 0.4s;
}
.dashboardBody-inner{
  padding: 6rem 1rem 1rem;
}

.dashboardBody.expanded {
  margin-left: 60px;
}

@media screen and (max-width: 767px) {
  .dashboardBody.expanded,
  .dashboardBody {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 575px) {
  .dashboardBody {
    padding: 6rem 0rem 0rem;
  }
  .dashboardBody-inner{
    padding: 0rem 1rem 0rem;
  }
}
