.product-media-main img{
  max-width: 100%;
}
.product-category h5{
  font-size: 17px;
  color: #3F3F3F;
}
.product-title h3{
  font-size: 35px;
}
.product-info-price .price {
  color: #1A8C1A;
  font-size: 32px;
  line-height: 36px
}
.product-description h6{
  color: #333333;
  font-size: 19px;
}
.product-description p{
  color: #666666;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 0px;
}

.quantity-picker {
  width: 127px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #305670;
}
.quantity-picker .btn-quantity {
  width: 40px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #305670;
  cursor: pointer;
  transition: all .3s ease;
}
.quantity-picker .form-control {
  width: 45px;
  height: 46px;
  padding: 0;
  background-color: transparent;
  border: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: var(--main);
}
.quantity-picker input:focus{
  outline: none;
  box-shadow: none;
}


/* Review */

.rating-reviews{}
.reviews-bar{}
.reviews-bar .reviews-item label{
  flex-shrink:0 ;
}
.reviews-bar .reviews-item:not(:last-child){
  margin-bottom: 7px;
}
.reviews-bar .reviews-item .progress{
  flex-grow: 1;
  background-color: #C4C6C7;
  height: 12px;
  min-width: 270px;
}
.bg-progress{
  background-color: #FFE420;
}
.reviews-item label{
  color: #495560;
  min-width: 80px;
}
.reviews-item label,
.reviews-item span {
  font-size: 17px;
  font-weight: 700;
}
.reviews-item span{
  color:#778088;
  min-width: 50px;
}

.reviews-info h3{
  font-size: 40px;
  margin-bottom: 0;
}
.reviews-info h3 span{
  font-size: 35px;
}
.reviews-info .review-count{
  color: #666666;
  font-size: 18px;
}

.review-tabs .btn{
  padding:10px 30px;
  min-width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 2px solid #15355E;
}
.profile-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 60px;
  background: lightgray 50% / cover no-repeat, #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15); 
  border: 3px solid transparent;
}
.card-comment {
  border-bottom: 1px solid #d7d7d7;
  padding: 0rem 0 1.5rem 0;
}
.card-comment:last-child{
  padding-bottom: 0px;
  border-bottom: none;
}
.comment-info{
  max-width: 250px;
  min-width: 250px;
}
.comment-info .star-rating{
  color: #E9D225;
  font-size: 20px;
}
.comment-info h6{
  color: #1C2B38;
  font-weight: 700;
  font-size: 17px;
}
.comment-info .published-date{
  color: #666;
  font-size: 16px;
}
.comment-text p{
  color: #666666;
  line-height: 1.5;
  margin-bottom: 0px;
}


/* Cart Table Start */
.table-cart{}
.table-cart th,
.table-cart td {
  background-color: transparent;
  text-transform: capitalize;
  padding: 1rem 0.7rem;
  border-bottom-width: 1px;
  border-color: #d1d1d1;
}
.table-cart tbody tr:last-child td{
  border-bottom-width: 0px;
}
.table-cart td{
  vertical-align: middle;
  font-size: 17px;
}
.table-cart thead th{
  color: #1D1D1D;
  font-weight: 700;
  padding: 0.5rem 0.7rem;
}
.table-cart .product-thumbnail img {
  margin: 0 auto;
  max-width: 55px;
  height: auto;
}

.table-cart .cart-price{
  color:#555555;
}
.table-cart .cart-total{
  color:#1D1D1D;
}
.table-cart .cart-title{
  color: #070707;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}
.table-cart .cart-meta-category{
  color: #555555;
  font-size: 14px;
}
.table-cart .quantity-picker{
  border: none;
  border-radius: 0;
  width: 100px;
}
.table-cart .quantity-picker .btn-quantity{
  width: 33px;
  height: 35px;
}
.table-cart .quantity-picker .form-control{
  font-size: 15px;
  border: 2px solid #d5d5d5;
  border-radius: 0;
  height: 35px;
}
.cart-item .cart-price,
.cart-item .cart-quantity,
.cart-item .cart-total {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: self-end;
  justify-content: start;
  gap: 10px;
  line-height: 1;
}
.table-cart .remove{
  font-size: 22px;
  text-decoration: none;
  padding: 5px;
  color: #ff0000;
}
.table-cart .remove:hover{
  color: #000;
}

.cart-checkout{
  background-color: #E1E1E1;
  border-radius: 5px;
  padding: 30px 30px;
}
.cart-checkout .checkout-item {
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 01rem;
}
.cart-checkout .checkout-item:last-child{
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
}
.cart-checkout .checkout-item h3 {
  font-size: 18px;
  color: #555555;
  font-weight: 400;
  margin-bottom: 0px;
}
.cart-checkout .checkout-item .item-value {
  font-size: 18px;
  color: #1D1D1D;
  font-weight: 400;
}
.cart-checkout .cart-total h3{
  color: #000;
  font-weight: 700;
}
.cart-checkout .delivery-charges .item-value{
  color: #555555;
}
.checkout-buttons .btn{
  width: 50%;
  padding-left: 0;
  padding-right:0 ;
}

@media screen and (max-width: 991.5px) {
  .reviews-item label {
    min-width: 55px;
  }

}
/* Cart Table End */
/* .rating {
  color: #ff0000;
  font-size: 400px;
  font-weight: 700;
}
.rating h4 {
  display: inline;
  font-size: 40px !important;
  font-weight: 700;
} */
