.time-slotes .slot-row {
  background-color: #fff;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  padding: 15px 20px;
  margin-top: 15px;
}

.time-slotes .slot-row:first-child {
  margin-top: 0px;
}

.time-slotes .form-switch {
  margin-bottom: 0px;
}

.time-slotes .form-switch .form-check-input {
  width: 2.6em;
  margin-left: 0px;
  margin-top: 0px;
  height: 1.3em;
}

.time-slotes .form-check-input {
  --form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
  background-color: #000000;
  background-image: var(--form-switch-bg);
}

.time-slotes .form-check-input:checked {
  --form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");

  background-image: var(--form-switch-bg);
}

.time-slotes .inputWrapper {
  margin-bottom: 0rem;
  flex-grow: 1;
}

.time-slotes .mainInput {
  padding: 10px 5px 10px 10px;
}

.time-slotes .remove-btn,
.time-slotes .add-btn {
  color: #000000;
  font-size: 16px;
  padding: 0px 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border: none;
}

.add-icon,
.delete-icon {
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50px;
}

.delete-icon svg {
  font-size: 14px;
}

.add-icon {
  background-color: #30B900;
}

.delete-icon {
  background-color: #FC0005;
}

.delete-icon .time-slotes .add-btn {
  color: #44b80e;
}