.service-header h4 {
  font-size: 30px;
}

.new-service-card {
  position: relative;
  padding: 8px;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}

.new-service-card .card-header:before {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 47%);
  background-size: 100% auto;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.new-service-card img.card-img-top {
  height: 310px;
  object-fit: cover;
  border-radius: 8px;
}

.new-service-card .card-title {
  font-size: 30px;
  color: var(--bs-white);
  bottom: 8px;
}

.select-card a {
  text-decoration: none;
  color: #000;
}

.select-card:hover .card-title {
  text-decoration: none;
  color: #1A8C1A;
}

.services-detail {}

.add-service.time-slotes .slot-row {
  padding: 15px 10px;
}

.add-service.time-slotes .slot-row .form-control {
  padding: 10px 10px;
}

.session-type .form-label {
  font-size: 17px;
}

.session-type .form-control {
  min-width: 150px;
  color: #15355E;
  font-size: 16px;
  padding: 14px 20px;
  min-height: 52px;
  border-color: #15355E;
}

.session-type .form-control:disabled {
  color: #939393;
  border-color: #dbdbdb;

}

.session-type .form-switch {
  padding-left: 0;
}

.session-type .form-switch .form-check-input {
  width: 2.6em;
  margin-left: 0px;
  margin-top: 0px;
  height: 1.3em;
}


.session-type .form-switch .form-check-input {
  --form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000000'/%3e%3c/svg%3e");
  background-image: var(--form-switch-bg);
}

.session-type .form-switch .form-check-input[type=checkbox]:checked {
  --form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
  background-image: var(--form-switch-bg);
}



.session-type .btn-radio {
  min-width: 170px;
  padding: 13px 20px;
}

.session-type .btn-radio:hover {
  background-color: #15355E;
  border-color: #15355E;
  color: #fff;
}

.session-type .badge {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}


.session-type .form-check .form-check-label {
  line-height: 1.3;
  font-size: 17px;
}

.session-type .form-check-input[type="radio"] {
  border-color: #fff;
  background-color: transparent;
  width: 1.3rem;
  height: 1.3rem;
  margin-top: 0px;
  /* appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: relative; */
}

.session-type .form-check-input:checked[type="radio"] {
  background: #A1AEBF;
  border-color: #15355e;
  box-shadow: 0px 0px 0px 1px #fff;
}



/* Add styles for selected card */
.new-service-card .selected-card {
  /* position: relative; */
}

.new-service-card .selected-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 53, 94, 0.47);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.new-service-card .selected-icon {
  width: 40px;
  height: 40px;
  background-color: #15355e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.new-service-card.selected {
  /* border: 1px solid #15355e; */
}

.add-services .searchWrapper {
  min-width: 350px;
}

.add-services .searchWrapper .searchInput {
  padding: 11px 45px 11px 20px;
  width: 100%;
  max-width: none;
}

.add-services .searchWrapper .searchButton {
  left: auto;
  right: 0px;
  color: #999;
  max-width: 50px;
  padding: 0 35px 0 10px;
}

@media (min-width: 1400px) and (max-width: 1666px) {


  .add-service.time-slotes .slot-row {
    padding: 15px 6px;
  }

  .add-service.time-slotes .slot-row .form-control {
    padding: 10px 5px;
  }
}

@media (max-width:767px) {
  .add-services .searchWrapper {
    min-width: 100%;
  }

  .service-header h4 {
    font-size: 25px;
  }
}