.stats_card {
  border-radius: 25px;
  padding: 1.5rem 1rem;
}

/* .statsContent {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
} */

/* .statsImg {
    flex-shrink: 0;
} */

.statsImg img {
  height: 82px;
  aspect-ratio: 2/1;
  object-fit: contain;
  object-position: center;
  border-radius: 0.5rem;
}

.statsDataImg {
  position: absolute;
  right: -70px;
  top: 20px;
  bottom: 0;
  margin: auto;
  width: 190px;
  opacity: 0.1;
}

.statsData {
  flex-grow: 1;
}

.statsNumber {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 34px;
  color: var(--blackColor);
}

.statsIcons {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  & svg{
    width: 100%;
    height: 100%;
  }
}

.statsText {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  text-wrap: auto;
}

.statsChange {
  position: absolute;
  top: 15px;
  right: 20px;
}

.statsChange p {
  color: var(--whiteColor);
}

.graphCard {
  border-radius: 25px;
  background: rgba(153, 153, 153, 0.10);
  padding: 2rem;
}

@media screen and (max-width: 1366px) {
  .statsImg {
    padding: 10px 20px;
  }

  .statsNumber {
    font-size: 30px;
  }
}

@media screen and (max-width: 1199px) {

  .statsNumber {
    font-size: 26px;
  }
}

@media screen and (max-width: 991px) {
  .statsImg {
    padding: 8px 15px;
  }

  .statsNumber {
    font-size: 25px;
  }
}

@media screen and (max-width: 991px) {
  .statsIcons {
    height: 30px;
    width: 30px;
  }

  .statsNumber {
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {
  .statsText {
    font-size: 16px;
  }

  .statsNumber {
    font-size: 20px;
  }
}